<div>
  <div class="pstreet-header">
    <h1><i class="fa fa-user"></i> Users</h1>
  </div>

  <!-- <form>
    <fieldset class="form-group">
      <input type="search" id="searchUser" class="form-control" ng-model="vm.searchText" placeholder="User/Service Name" />
    </fieldset>
  </form> -->
  <br />
  <br />
  <br />

  <table ng-cloak class="table table-hover table-condensed" ng-show="vm.users.length">
    <thead>
      <tr>
        <th class="col-md-3" style="padding-left:50px;">Username</th>
        <th class="col-md-3"><a href="" ng-click="vm.sortBy='name'; vm.updateSort()">Name</a></th>
        <th class="col-md-3" style="padding-left:50px;">Role</th>
        <th class="col-md-1">&nbsp;</th>
      </tr>
    </thead>
    <!-- <tr ui-sref="userDetails({ userId: user._id })" dir-paginate="user in vm.users | itemsPerPage: vm.perPage" total-items="vm.usersCount"> -->
    <tr dir-paginate="user in vm.users | itemsPerPage: vm.perPage" total-items="vm.usersCount">
      <td>
        <input readonly style="width:100%; height:100%; border-width:0px;" value="{{user.username}}" ng-blur="vm.updateUser(user);" />
      </td>
      <td>
        <input style="width:100%; height:100%; border-width:0px;" ng-model="user.name" ng-blur="vm.updateUser(user);" />
      </td>
      <td>
        <select ng-hide="vm.check(user)" class="form-control" ng-model="user.role" ng-change="vm.updateUser(user);" required>
          <option value="" selected="selected">None</option>
          <option ng-repeat="role in vm.userRoles" ng-selected="role.name == user.role" value='{{role.name}}'>{{role.name}}</option>
        </select>
        <label ng-show="vm.check(user)" class="form-control-label" style="font-weight:bold;">&nbsp;&nbsp;{{user.role}}</label>
      </td>
      <td>
        <a href="" ng-click="vm.removeUser(user)" ng-hide="vm.checkUser(user._id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      </td>
    </tr>
  </table>
  <dir-pagination-controls on-page-change="vm.pageChanged(newPageNumber)"></dir-pagination-controls>

  <div class="form-group row">
    <label class="form-control-label" style="color:red; font-weight:bold;">{{vm.errorMessage}}</label>
  </div>

  <div>
    [ <a href="/accounts/register">Register</a> ]
  </div>
</div>

<script language="javascript">
  $(document).ready(function() {
    $(".nav li").removeClass("active");
    $('#admin').addClass('active');
  });
</script>
